.user {
    display: flex;
    align-items: center;
    gap: 4px;
}
.user__name {
    color: #ffffffa9;
}
.user__imgbutton {
    width: 32px;
    height: 32px;
    border: none;
    object-fit: cover;
}
.user__imgbutton > img {
    width: 100%;
    height: 100%;
}