.channeltitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 12px;
    padding: 8px 5%;
}

.channel {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #ffffffa0;
    padding: 6px 5%;
    gap: 5%;
}

.channel.selected {
    background-color: #1164A3;
    color: #ffffff;
}
.selected:hover {
    cursor: pointer;
}

.channel:not(.selected):hover {
    cursor: pointer;
    background-color: #14141444;
}