.addchannelmodal {
    font-weight: 300;
    padding: 12px 0;
}

.addchannelmodal > h5 {
    margin-bottom: 24px;
}

.addchannelmodal__form {
    display: flex;
    flex-direction: column;
}

.addchannelmodal__form > label {
    font-size: 16px;
    opacity: 0.8;
    margin-bottom: 5px;
}

.addchannelmodal__form > input {
    margin-bottom: 24px;
    padding: 8px;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    background-color: transparent;
}

.addchannelmodal__form > input::placeholder {
    color: #383838;
    opacity: 0.6;
}

.addchannelmodal__form > button {
    padding: 8px;
    width: 80px;
    border: none;
    border-radius: 5px;
    background-color: #007A5A;
    color: #ffffff;
}

.addchannelmodal__form > button:disabled {
    background-color: #808080;
}