@font-face {
  font-family: 'Proxima Nova';
  src: local('Proxima Nova'), url(./assets/fonts/ProximaNova-Regular.otf) format('opentype');
}

* { margin: 0; padding: 0; box-sizing: border-box;}
*:focus {outline: none;}


html, body, .App, #root {height: 100%;}
body {font-family: 'Proxima Nova', sans-serif;}

::placeholder {
  color: #ffffffa9;
  opacity: 1; /* Firefox */
}
::-ms-input-placeholder {
  color: #ffffffa9;
}
.chatwrapper {
  display: flex;
  height: 100%;
}
.sidebar {
  flex-grow: 1;
  flex-basis: 150px;
  background-color: #3F0E40;
  height: 100%;
  font-size: 14px;
  font-weight: 600;
  color: #ffffffa0;
  border-right: 1px solid #808080;
}
.chat {
  flex-grow: 9;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}
.ql-toolbar.ql-snow {
  border: none !important;
}
.ql-container {
  border: none !important;
}

.quill {
  display: flex;
  flex-direction: column-reverse;
  overflow: hidden;
}

.ql-container.ql-snow {
  overflow-y: auto;
  max-height: 25vh;
}

.ql-editor {
  overflow-y: hidden;
}